.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid black;
}
.img {
  max-width: 300px;
}
.boxAboutMovie {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
